@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

    <div class="p-3 text-white">
        <h2>Detalle del usuario</h2>

        <div>
            <dl class="p-3">
                <dt class="text-danger float-left pr-3">
                    @*Html.DisplayNameFor(model => model.UserName)*@
                    <label>Nombre:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.Nombre)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Apellidos:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.Apellidos)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Usuario:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.UserName)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Email:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.Email)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Direccion:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.Direccion)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Colonia:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.Colonia)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Región:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.Region)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Código Postal:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.CP)</dd>
                <dt class="text-danger float-left pr-3">
                    <label>Teléfono:</label>
                </dt>
                <dd>@Html.DisplayFor(model => model.Telefono)</dd>
            </dl>
        </div>
        <h4>Lista de roles para este usuario</h4>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>No se han encontrado roles para este usuario.</p>
        }

        <table class="table table-hover table-responsive-sm table-striped table-light table-borderless w-25">

            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>
        @*<div class="pt-2 float-left pr-3">
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-warning" })
        </div>*@
        <div class="pt-2">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-info" })
        </div>
    </div>