@model SitioPCFull.ViewModels.IndexViewModelPag

@{
    ViewBag.Title = "Index";
}

    <div class="p-2 text-white">
        <h2 class="text-center pt-3">Usuarios</h2>

        <div class="pb-2">
            @Html.ActionLink("Crear usuario", "Create", null, new { @class = "btn btn-success" })
        </div>
        <table class="table table-hover table-responsive-sm table-striped table-light table-borderless table-sm">
            <tr>
                <th>
                    @*Html.DisplayNameFor(model => model.UserName)*@
                    <label>Nombre</label>
                </th>
                <th><label>Apellidos</label></th>
                <th><label>Usuario</label></th>
                <th><label>Email</label></th>
                <th><label>Dirección</label></th>
                <th><label>Colonia</label></th>
                <th><label>Región</label></th>
                <th><label>CP</label></th>
                <th><label>Teléfono</label></th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.Personas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Colonia)</td>
                    <td>@Html.DisplayFor(modelItem => item.Region)</td>
                    <td>@Html.DisplayFor(modelItem => item.CP)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>
                        @*Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = " text-decoration-none btn-sm btn-outline-success" })*@
                        @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = " text-decoration-none btn-sm btn-outline-info" })
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = " text-decoration-none btn-sm btn-outline-danger" })
                    </td>
                </tr>
            }

        </table>
        @{Html.RenderPartial("_paginador", Model);}
    </div>
